.NameHeadings{
	color: blue;
}
.CardHeader{
	color: blue;
	padding: 8px;
}

.mycard{
	margin: 0% 5%;
}

.myimg{
	 border-radius: 15px;
	 float: left;
}

.mybtn{
	color: blue; 
	margin-left: 15px;
}

.mytbstyle{
	 padding: 4px;
}




li{
		margin: 0% 10%;
	}
	
	@media screen and (max-width: 300px) {
    li{
        margin: 0% 10%;
    }
    #navBar{
    	visibility: hidden;
    }
}
